body{
  background-image: url(../../images/table-bg.jpg);
}

.menu-title {
  color: black;
  text-underline-offset: 5px;
}

.menu-title:visited {
  text-decoration: none;
}

.menu-title:hover {
  color: blue;
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-container {
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: -40px 0px 0px 20px;
  background-image: url(../../images/menu.jpg);
  background-size: cover;
  margin-top: 20px;
}

.menu-heading {
  display: flex;
  justify-content: space-around;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: -50px;
}

.description{
  padding-left: 40px;
}

