body{
  background-image: url(../../images/table-bg.jpg);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-container {
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: -40px 0px 0px 20px;
}

.menu-heading {
  display: flex;
  justify-content: space-around;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

