{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}
<div class="about-container">
  <section class="about-header">
    <h1>About the Glizzy Gallery</h1>
    <img 
      class="dancing-glizzy"
      src="{% static 'images/dancing-glizzy.gif' %}"
      alt="Dancing Glizzy"
    >
  </section>
  <hr />
  <div class="page-content">
    <p>
      What is a Glizzy? It's a hot dog.
    </p>
    <img 
      class="glizzy-explain"
      src="{% static 'images/glizzy-explain.gif' %}"
      alt="Explain"
    >
  </div>
</div>
{% endblock %}