body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: lightcoral;
}

nav {
  margin: 10px;
}

nav ul {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: blue
}

nav li {
  padding: 5px 8px;
}