body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-underline-offset: 5px;
}


header {
  width: 100%;
  background-color: lightcoral;
  border-radius: 100px;
}

nav {
  margin: 10px;
}

nav ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding-right: 20px;
  margin-top: -20px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: blue
}

nav li {
  padding: 5px 8px;
}

.glizzy-logo {
  height: 50px;
  width: 50px;
  padding-top: 6px;
  padding-left: 20px;
}

.header-logo-container {
  padding-top: 6px;
  width: 256px;
  height: 35px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(195, 191, 191)
}

.btn-danger {
  color: black;
  background-color: rgb(252, 40, 40);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}

.btn-danger:hover {
  background-color: rgb(221, 19, 19);
}

