{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/glizzys/glizzy-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="glizzy-container">
  <div class="glizzy-details">
    <h1>{{ glizzy.name }}</h1>
    <h2>${{ glizzy.price }}</h2>
    <p>Toppings: {{ glizzy.toppings }}</p>
    <p>Description: {{ glizzy.description }}</p>
    <div class="glizzy-actions">
      <a href="{% url 'glizzy-update' glizzy.id %}" class="btn warn">Edit</a>
      <a href="{% url 'glizzy-delete' glizzy.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}