{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/glizzys/glizzy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
  <div class="menu-heading">
    <h1>Menu</h1>
  </div>
  {% for glizzy in glizzys %}
    <div class="card">
      <a href="{% url 'glizzy-detail' glizzy.id %}">
        <div class="card-content">
          <div class="item">
            <ul type="1" class="card-title">{{ glizzy.name }}</ul>
            <p>&nbsp............................&nbsp</p>
            <p>${{ glizzy.price }}</p>
          </div>
          <p class="description"><small>{{ glizzy.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}