{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/glizzys/glizzy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="menu-container">
  <div class="menu-heading">
    <h1>Menu</h1>
  </div>
  {% for glizzy in glizzys %}
    <div class="card">
      <div class="menu-content">
        <div class="item">
          <a href="{% url 'glizzy-detail' glizzy.id %}">
            <h3 class="menu-title">{{ glizzy.name }}</h3>
          </a>
          <h3>&nbsp............................&nbsp</h3>
          <h3>${{ glizzy.price }}</h3>
        </div>
        <p class="description"><small>{{ glizzy.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}